<title>
    Test
</title>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<link rel="icon" href="images/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:700">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- build:css({.tmp,src}) css/style.css -->
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/styles.css">
<!-- endbuild -->
<script src="https://kit.fontawesome.com/9e78371ef2.js" crossorigin="anonymous"></script>