<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper7">
                <div class="heading1 fade-in">
                    <h2>Dra. Ana Carriço</h2>
                    <h3><strong>Especialidade:</strong> Cardiologia Pediátrica</h3>
                </div>
                <div class="box8-wrapper1">
                    <div class="box8 fade-in">
                        <img src="../images/profile.png" alt="">
                        <div class="doctorsDescription language">
                            <i class="fas fa-globe-europe"></i>
                            <p><strong>Idiomas:</strong> Português e Inglês</p>
                        </div>
                        <div class="doctorsDescription sick">
                            <i class="fas fa-clipboard-list"></i>
                            <p><strong>Doenças:</strong> Insuficiência cardíaca</p>
                        </div>
                        <div class="doctorsDescription apoint">
                            <i class="fas fa-stethoscope"></i>
                            <p><strong>Exames:</strong> Ecocardiografia Fetal e Eco-Doppler Cardíaco Fetal</p>
                        </div>
                        <div class="doctorsDescription areas">
                            <i class="fas fa-file-medical-alt"></i>
                            <p><strong>Áreas de Diferenciação:</strong> Medicina fetal e Ecocardiografia</p>
                        </div>
                    </div>
                </div>
                <div class="box9-wrapper1">
                    <div class="box9 fade-in">
                        <div class="box9-background"></div>
                        <div class="bar-holder">
                            <div class="chevronDown"></div>
                            <p>Atividade Clínica</p>
                        </div>
                        <ul class="tab-holder">
                            <li class="activity">Atividade Clínica</li>
                            <li class="formation">Formação Académica</li>
                            <li class="science">Atividade Científica</li>
                            <li class="sociaty">Sociedades Científicas</li>
                        </ul>
                        <div class="activity">
                            <h4>Atividade Clínica</h4>
                        </div>
                        <div class="formation">
                            <h4>Formação Académica</h4>
                        </div>
                        <div class="science">
                            <h4>Atividade Científica</h4>
                        </div>
                        <div class="sociaty">
                            <h4>Sociedades Científicas</h4>
                        </div>
                        <ul class="text-activity open">
                            <li>Cardiologista pediátrica no Hospital da Luz Arrábida</li>
                            <li>Desde 2008 - Assistente Hospitalar no Hospital de Vila Nova de Gaia</li>
                            <li>Desde 2005 - Cardiologista pediátrica na Clínica Gynébe do Porto</li>
                            <li>2004-2008 - Assistente Hospitalar Eventual no Hospital de São João, Porto</li>
                            <li>1999-2004 - Internato Complementar no Hospital de São João, Porto</li>
                        </ul>
                        <ul class="text-formation">
                            <li>2004 - Grau de Especialista em Cardiologia Pediátrica</li>
                            <li>1996 - Licenciatura em Medicina no Instituto de Ciências Biomédicas Abel Salazar, Porto
                            </li>
                        </ul>
                        <ul class="text-science">
                            <li>É autora de vários artigos, apresentações e comunicações livres.</li>
                            <li>Pertenceu à comissão organizadora de várias reuniões científicas</li>
                        </ul>
                        <ul class="text-sociaty">
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/headerNavbarButtons.js"></script>
            <script src="../js/cv.js"></script>
</body>

</html>