<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="wrapper6">
                <div class="heading1 fade-in">
                    <h2>Convenções e Acordos</h2>
                </div>
            </div>
            <div class="wrapper6 wrapper6__inset1">
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://advancecare.pt/" target="_blank">
                            <img src="../images/advancecare.png"
                                alt="AdvanceCare - Gestão de Serviços de Saúde, S.A." />
                        </a>
                        <div class="title">
                            <h3 class="h3_inset1">AdvanceCare - Gestão de Serviços de Saúde, S.A.</h3>
                            <p>Visite o <a href="http://advancecare.pt/" target="_blank">site AdvanceCare</a></p>
                            <p>Seguros de saúde das seguintes seguradoras:</p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class="box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="../images/acoreana.png" alt="Açoreana" />
                        <p>&brvbar Açoreana</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/ccmo.jpg" alt="CCMO-MUTUELLE" />
                        <p>&brvbar CCMO-MUTUELLE</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/cimpor.png" alt="Cimpor - Cimentos de Portugal, S.A." />
                        <p>&brvbar Cimpor - Cimentos de Portugal, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/eurovida.jpg" alt="Eurovida – Companhia de Seguros de Vida, S.A" />
                        <p>&brvbar Eurovida – Companhia de Seguros de Vida, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/generali.png" alt="Generalicare" />
                        <p>&brvbar Generalicare - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/gnb.png" alt="GNB - Companhia de Seguros, S.A" />
                        <p>&brvbar GNB - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/gps.jpg" alt="Grumo Groupama" />
                        <p>&brvbar Grupo Groupama</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/logo.jpg" alt="Logo" />
                        <p>&brvbar Logo Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/lusitania.png" alt="Lusitania - Companhia de Seguros, S.A." />
                        <p>&brvbar Lusitania - Companhia de Seguros, S.A.</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/mgen.png" alt="MGEN - Mutuelle Générale de l'Éducation Nationale" />
                        <p>&brvbar MGEN - Mutuelle Générale de l'Éducation Nationale</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/n_seguros.png" alt="N Seguros, S.A" />
                        <p>&brvbar N Seguros, S.A</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/popular.png" alt="Popular Seguros- Companhia de Seguros, S.A. " />
                        <p>&brvbar Popular Seguros- Companhia de Seguros, S.A. </p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/real.png" alt="Real Vida Seguros" />
                        <p>&brvbar Real Vida Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/sams.png"
                            alt="SAMS - Serviços de Assistência Médico-Social do Sindicato dos Bancários Sul e Ilhas" />
                        <p>&brvbar SAMS - Serviços de Assistência Médico-Social do Sindicato dos Bancários</p>
                    </div>
                    <div id="allianz" class="insurence fade-in">
                        <img src="../images/tranquilidade.png" alt="Tranquilidade" />
                        <p>&brvbar Tranquilidade</p>
                    </div>
                </div>
                <div id="furureHealth" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.allianz.pt/" target="_blank"></a>
                        <img src="../images/allianz.png" alt="Allianz Saúde" />
                        <div class="title">
                            <h3 class="h3__inset1">Allianz Saúde</h3>
                            <p>Visitar o <a href="http://www.allianz.pt/" target="_blank">site Allianz</a></p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.future-healthcare.pt/victoria/rm/rede-medica.html" target="_blank">
                            <img src="../images/future.png" alt="Future Healthcare" />
                        </a>
                        <div class="title">
                            <h3 class="h3_inset1">Future Healthcare</h3>
                            <p>Visite o <a href="http://www.future-healthcare.pt/victoria/rm/rede-medica.html"
                                    target="_blank">
                                    site Future Healthcare</a></p>
                            <p>Seguro de saúde das seguintes seguradoras:</p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class="box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="../images/saude.png" alt="Saúde Prime" />
                        <p>&brvbar Saúde Prime</p>
                    </div>
                    <div id="medicare" class="insurence fade-in">
                        <img src="../images/victoria.png" alt="Victoria" />
                        <p>&brvbar Victoria</p>
                    </div>
                </div>
                <div id="medis" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="https://www.medicare.pt/" target="_blank">
                            <img src="../images/medicare.jpg" alt="Medicare" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">Medicare</h3>
                            <p>Visitar o <a href="https://www.medicare.pt/" target="_blank">site Medicare</a></p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.medis.pt/pt-pt/Pages/default.aspx" target="_blank">
                            <img src="../images/medis.png"
                                alt="Médis - Companhia Portuguesa de Seguros de Saúde, S.A." />
                        </a>
                        <div class="title">
                            <h3>Médis - Companhia Portuguesa de Seguros de Saúde, S.A.</h3>
                            <p>Visite o <a href="http://www.medis.pt/pt-pt/Pages/default.aspx" target="_blank">site
                                    Médis</a>
                            </p>
                            <p>Seguros de saúde das seguintes seguradoras:</p>
                        </div>
                    </div>
                </div>
                <div class="chevronDown">
                    <button><i class="fas fa-chevron-down"> </i></button>
                </div>
                <div class=" box2-wrapper6">
                    <div class="insurence fade-in">
                        <img src="../images/ageas.png" alt="Ageas Seguros" />
                        <p>&brvbar Ageas Seguros</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/ctt.png" alt="CTT - Médis" />
                        <p>&brvbar CTT - Médis</p>
                    </div>
                    <div class="insurence fade-in">
                        <img src="../images/liberty.png" alt="Liberty Seguros" />
                        <p>&brvbar Liberty Seguros</p>
                    </div>
                    <div id="rna" class="insurence fade-in">
                        <img src="../images/zurich.png" alt="Zurich" />
                        <p>&brvbar Zurich</p>
                    </div>
                </div>
                <div id="samsSib" class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.rnamedical.pt/pt/home/" target="_blank">
                            <img src="../images/rna.png" alt="RNA Medical" />
                        </a>
                        <div class="title">
                            <h3>RNA Medical</h3>
                            <p>Visitar o site da <a href="http://www.rnamedical.pt/pt/home/" target="_blank">RNA
                                    Medical</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="http://www.sibanca.pt/" target="_blank">
                            <img src="../images/sams_sib.png" alt="SAMS-SIB" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">SAMS-SIB</h3>
                            <p>Visitar o <a href="http://www.sibanca.pt/" target="_blank">site SAMS-SIB</a></p>
                        </div>
                    </div>
                </div>
                <div class="box2-wrapper1">
                    <div class="insurence fade-in">
                        <a href="https://ami.org.pt/" target="_blank">
                            <img src="../images/ami.png" alt="Assistência Médica Internacional" />
                        </a>
                        <div class="title">
                            <h3 class="h3__inset1">Assistência Médica Internacional</h3>
                            <p>Visitar o <a href="https://ami.org.pt/" target="_blank">site AMI</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/buttonOnAgreements.js"></script>
</body>

</html>