<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="wrapper1 wrapper1__inset3">
                <div class="heading1 fadeIn">
                    <h2>Clínica Gynébe do Porto</h2>
                </div>
                <div id="map"></div>
                <address class="our-address fadeIn">
                    <a href="https://www.google.com/maps/dir/?api=1&travelmode=driving&layer=traffic&destination=41.14735259875789,-8.620945015926148"
                        target="_blank"><span>Rua D. Manuel II 33, 4º sala 44,<br />4050-345 Porto.</span></a>
                </address>
                <address class="contacts-address fadeIn">
                    <span class="wrapper-info"><span class="wide">Telefone:</span><a href="tel:00351225432135"> +351
                            225 432 135/6</a></span>
                    <span class="wrapper-info"><span class="wide">Fax:</span> +351 225 432 209</span>
                    <span class="wrapper-info">E-mail:
                        <a href="mailto:geral@clinicagynebe.com.pt" class="simple-link">geral@clinicagynebe.com.pt</a>
                    </span>
                </address>
                <div class="schedule fade-in">
                    <h3>Horario:</h3>
                    <ul>
                        <li><strong>Segunda-feira:</strong> 9h-14h</li>
                        <li><strong>Terça-feira:</strong> 9h-20h</li>
                        <li><strong>Quarta-feira:</strong> 14h-20h</li>
                        <li><strong>Quinta-feira:</strong> Encerrado (exceto para Urgências)</li>
                        <li><strong>Sexta-feira:</strong> 09h-20h</li>
                        <li><strong>Sábado:</strong> Encerrado (exceto para Urgências)</li>
                        <li><strong>Domingo:</strong> Encerrado</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/mapPorto.js"></script>
</body>

</html>