<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper7">
                <div class="heading1 fade-in">
                    <h2>Dra. Dília Soares</h2>
                    <h3><strong>Especialidade:</strong> Nutrição</h3>
                </div>
                <div class="box8-wrapper1">
                    <div class="box8 fade-in">
                        <img src="../images/profile.png" alt="">
                        <div class="doctorsDescription language">
                            <i class="fas fa-globe-europe"></i>
                            <p><strong>Idiomas:</strong> Português, Inglês e Espanhol</p>
                        </div>
                        <div class="doctorsDescription sick">
                            <i class="fas fa-clipboard-list"></i>
                            <p><strong>Doenças:</strong> Obesidade, Diabetes e Dislipidemias</p>
                        </div>
                        <div class="doctorsDescription apoint">
                            <i class="fas fa-stethoscope"></i>
                            <p><strong>Consultas:</strong> Consulta de Nutrição</p>
                        </div>
                        <div class="doctorsDescription areas">
                            <i class="fas fa-file-medical-alt"></i>
                            <p><strong>Áreas de Diferenciação:</strong> Nutrição na gravidez, Nutrição na diabetes
                                gestacional e Nutrição nas doenças metabólicas</p>
                        </div>
                    </div>
                </div>
                <div class="schedule fade-in">
                    <h3>Horario:</h3>
                    <ul>
                        <li><strong>Sexta-feira:</strong> 14h-16h (na segunda semana de cada mês na Clínica do Porto)
                        </li>
                    </ul>
                </div>
                <div class="box9-wrapper1">
                    <div class="box9 fade-in">
                        <div class="box9-background"></div>
                        <div class="bar-holder">
                            <div class="chevronDown"></div>
                            <p>Atividade Clínica</p>
                        </div>
                        <ul class="tab-holder">
                            <li class="activity">Atividade Clínica</li>
                            <li class="formation">Formação Académica</li>
                            <li class="science">Atividade Científica</li>
                            <li class="sociaty">Sociedades Científicas</li>
                        </ul>
                        <div class="activity">
                            <h4>Atividade Clínica</h4>
                        </div>
                        <div class="formation">
                            <h4>Formação Académica</h4>
                        </div>
                        <div class="science">
                            <h4>Atividade Científica</h4>
                        </div>
                        <div class="sociaty">
                            <h4>Sociedades Científicas</h4>
                        </div>
                        <ul class="text-activity open">
                            <li>Desde 2012 - Nutricionista na OBER</li>
                            <li>03/2012 a 02/2016 - Nutricionista na Santa Casa da Misericórdia de Baião</li>
                            <li>Desde 2011 - Consulta de Nutrição e Avaliação da Composição Corporal na Clínica Gynébe
                                Porto</li>
                            <li>11/2003 a 08/2004 - Elaboração de um Plano de Actividades de Nutrição do
                                Centro de Saúde de Paredes</li>
                            <li>Desde 2002 - Consulta de Nutrição Clínica e elaboração do Manual de Dietas Hospitalares
                                no Hospital das Forças Armadas do Porto</li>
                            <li>10/1999 a 09/2000 - Estágio académico realizado na Unidade de Endocrinologia do Hospital
                                de São
                                João do Porto.</li>
                        </ul>
                        <ul class="text-formation">
                            <li>1995-2000 - Licenciatura em Ciências da Nutrição e Alimentação</li>
                        </ul>
                        <ul class="text-science">
                            <li>Presente em vários congressos e reuniões científicas.</li>
                        </ul>
                        <ul class="text-sociaty">
                            <li>Sociedade Portuguesa para o Estudo da Saúde Escolar.</li>
                            <li>Associação Portuguesa dos Nutricionistas.</li>
                            <li>Sociedade Portuguesa de Endocrinologia, Diabetes e Metabolismo.</li>
                            <li>Associação Portuguesa de Nutrição Entérica e Parentérica.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/headerNavbarButtons.js"></script>
            <script src="../js/cv.js"></script>
</body>

</html>