<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="wrapper1">
                <div class="heading1 fade-in">
                    <h2>Clínica Gynébe de Santo Tirso</h2>
                </div>
                <div class="box2-wrapper2">
                    <h6 class="fade-in">A Clínica Gynébe nasceu em 2003 no coração da cidade do Porto como um espaço
                        dedicado essencialmente à saúde da mulher e da criança. Em 2005 abriu uma segunda unidade em
                        Santo
                        Tirso. Ambas as clínicas oferecem uma localização central com excelente acessibilidade
                        pedonal, por
                        meio de transportes públicos ou viaturas próprias, dada a facilidade de vários parques
                        próximos.
                    </h6>
                </div>
            </div>
            <div class="box6-wrapper1__inset1">
                <div class="box6 img18 fade-in">
                    <img src="../images/EVO_1810.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Espera</h4>
                    </span>
                </div>
                <div class="box6 img19 fade-in">
                    <img src="../images/EVO_1813.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Espera</h4>
                    </span>
                </div>
                <div class="box6 img20 fade-in">
                    <img src="../images/EVO_1818.jpg" alt="Sala de Espera" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Espera</h4>
                    </span>
                </div>
                <div class="box6 img21 fade-in">
                    <img src="../images/EVO_1826.jpg" alt="Logo" />
                    <span class="img-content-hover">
                        <h5>Logo da</h5>
                        <h4>Clínica Gynébe</h4>
                    </span>
                </div>
                <div class="box6 img22 fade-in">
                    <img src="../images/EVO_1847.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Ginecologia e Obstetrícia</h4>
                    </span>
                </div>
                <div class="box6 img23 fade-in">
                    <img src="../images/EVO_1855.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Ginecologia e Obstetrícia</h4>
                    </span>
                </div>
                <div class="box6 img24 fade-in">
                    <img src="../images/EVO_1859.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                    <span class="img-content-hover">
                        <h5>Sala de</h5>
                        <h4>Ginecologia e Obstetrícia</h4>
                    </span>
                </div>
            </div>
            <div class="backgroundCover"></div>
            <div class="slider">
                <div class="wrapper">
                    <div class="slides">
                        <span class="slide">
                            <img src="../images/EVO_1810.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1813.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1818.jpg" alt="Sala de Espera" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1826.jpg" alt="Logo" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1847.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1855.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                        <span class="slide">
                            <img src="../images/EVO_1859.jpg" alt="Sala de Ginecologia e Obstetrícia" />
                        </span>
                    </div>
                </div>
                <a class="control prev"></a>
                <a class="control next"></a>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/carousel.js"></script>
            <script src="../js/gallery.js"></script>
</body>

</html>