<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content">
            <div class="img-container">
                <div class="teaser">
                    <span class="first">Paixão pela Vida</span>
                    <span class="second">inspirada por si</span>
                </div>
                <div class="scroll-down"></div>
            </div>
            <!-- <div class="wrapper1">
            <div class="slider">
                <div class="wrapper">
                    <div class="slides">
                        <span class="slide"><img src="../images/page4_img4.png" alt="" />
                            <h2 class="sliderText gine">
                                <a href="specialties.html">Ginecologia</a>
                            </h2>
                        </span>
                        <span class="slide"><img src="../images/page1_img1.png" alt="" />
                            <h2 class="sliderText obs">
                                <a href="specialties.html">Obstetrícia</a>
                            </h2>
                        </span>
                        <span class="slide"><img src="../images/page1_img2.png" alt="" />
                            <h2 class="sliderText ped">
                                <a href="specialties.html">Pediatria</a>
                            </h2>
                        </span>
                    </div>
                </div>
                <a class="control prev"></a>
                <a class="control next"></a>
            </div>
        </div> -->
            <div id="wrapper2" class="wrapper2 wrapper2__inset1">
                <div class="heading1 fade-in">
                    <h2>A nossa Missão</h2>
                </div>
                <div class="box4-wrapper1">
                    <div class="box4">
                        <img class="fade-in" src="../images/page2_img1.png" alt="" />
                        <h6 class="fade-in">
                            Na Clínica Gynébe todos os colaboradores estão vocacionados e orientados para o servir
                            melhor
                            através de uma ampla oferta de serviços dirigidos à mulher, à criança e à família.
                        </h6>
                        <h6 class="fade-in">
                            Em suma, uma
                            organização especialmente pensada para a prevenção e combate à doença, bem como para a
                            promoção
                            da qualidade de vida, em termos físicos e psíquicos, e sempre com respeito pela
                            sensibilidade
                            emocional e individualidade humana.
                        </h6>
                    </div>
                </div>
            </div>
            <div id="wrapper3" class="wrapper3">
                <div class="heading2 fade-in">
                    <h5>A Equipa</h5>
                </div>
                <div class="box3-wrapper1">
                    <div class="box3 fade-in">
                        <img src="../images/mca.jpg" alt="" />
                        <h3>
                            <a>Dra. Manuela Calado Araújo</a>
                        </h3>
                        <p>Ginecologista/Obstetra</p>
                    </div>

                    <div class="box3 fade-in">
                        <img src="../images/gv.jpg" alt="" />
                        <h3>
                            <a>Dra. Gabriela Vasconcellos</a>
                        </h3>
                        <p>Pediatra/Neonatologista</p>
                    </div>

                    <div class="box3 fade-in">
                        <img src="../images/profile.png" alt="" />
                        <h3>
                            <a>Dra. Ana Carriço</a>
                        </h3>
                        <p>Cardiologista Pedriátrica</p>
                    </div>

                    <div class="box3 fade-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <img src="../images/lc.jpg" alt="" />
                        <h3>
                            <a>Dra. Leonilde Coelho</a>
                        </h3>
                        <p>Endocrinologista</p>
                    </div>
                    <div class="box3 fade-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <img src="../images/profile.png" alt="" />
                        <h3>
                            <a>Dra. Dília Soares</a>
                        </h3>
                        <p>Nutricionista</p>
                    </div>
                    <div class="box3 fade-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <img src="../images/profile.png" alt="" />
                        <h3>
                            <a>Dra. Marta Baltar</a>
                        </h3>
                        <p>Psicóloga/Psicoterapeuta</p>
                    </div>
                    <div class="box3 fade-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <img src="../images/profile.png" alt="" />
                        <h3>
                            <a>Filipa Gomes</a>
                        </h3>
                        <p>Assistente Operacional</p>
                    </div>
                    <div class="box3 fade-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <img src="../images/profile.png" alt="" />
                        <h3>
                            <a>Francisco Araújo</a>
                        </h3>
                        <p>Assistente Informático</p>
                    </div>
                </div>
            </div>
            <div id="wrapper4" class="wrapper4">
                <div class="heading1 fade-in">
                    <h2>Os Melhores Cuidados de Saúde</h2>
                </div>
                <div class="list1">
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Atendimento personalizado</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Consultas em português, inglês e espanhol</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Espaço infantil</p>
                    </div>

                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Forte componente humana de todos os profissionais</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Profissionais com elevada experiência clínica</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Fácil acesso para pessoas de mobilidade reduzida</p>
                    </div>

                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Respeito pela individualidade e sensibilidade pessoal</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Diferenciação técnica dos serviços prestados</p>
                    </div>
                    <div class="slide-in">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Localização em pelo coração da cidade do Porto</p>
                    </div>

                    <div class="slide-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Amplos serviços na saúde da mulher, da criança e da família</p>
                    </div>
                    <div class="slide-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Reconhecimento dos serviços prestados pelos nossos utentes</p>
                    </div>
                    <div class="slide-in" data-wow-duration="1s" data-wow-delay="0.4s">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <p>Acordos e Parcerias com a maioria das convenções</p>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/scrollDown.js"></script>
</body>

</html>