<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper7">
                <div class="heading1 fade-in">
                    <h2>Dra. Leonilde Coelho</h2>
                    <h3><strong>Especialidade:</strong> Endocrinologia</h3>
                </div>
                <div class="box8-wrapper1">
                    <div class="box8 fade-in">
                        <img src="../images/lc.jpg" alt="">
                        <div class="doctorsDescription language">
                            <i class="fas fa-globe-europe"></i>
                            <p><strong>Idiomas:</strong> Português</p>
                        </div>
                        <div class="doctorsDescription sick">
                            <i class="fas fa-clipboard-list"></i>
                            <p><strong>Doenças:</strong> Diabetes, Patologia da Tiroide</p>
                        </div>
                        <div class="doctorsDescription apoint">
                            <i class="fas fa-stethoscope"></i>
                            <p><strong>Consultas:</strong> Consulta de Endocrinologia - Consulta de Diabetes - Consulta
                                Multidisciplinar de Cirurgia Bariátrica</p>
                        </div>
                        <div class="doctorsDescription areas">
                            <i class="fas fa-file-medical-alt"></i>
                            <p><strong>Áreas de Diferenciação:</strong> Diabetes e Cirurgia Bariátrica</p>
                        </div>
                    </div>
                </div>
                <div class="schedule fade-in">
                    <h3>Horario:</h3>
                    <ul>
                        <li><strong>Terça-feira:</strong> 11h30-13h00 (Clínica do Porto)</li>
                    </ul>
                </div>
                <div class="box9-wrapper1">
                    <div class="box9 fade-in">
                        <div class="box9-background"></div>
                        <div class="bar-holder">
                            <div class="chevronDown"></div>
                            <p>Atividade Clínica</p>
                        </div>
                        <ul class="tab-holder">
                            <li class="activity">Atividade Clínica</li>
                            <li class="formation">Formação Académica</li>
                            <li class="science">Atividade Científica</li>
                            <li class="sociaty">Sociedades Científicas</li>
                        </ul>
                        <div class="activity">
                            <h4>Atividade Clínica</h4>
                        </div>
                        <div class="formation">
                            <h4>Formação Académica</h4>
                        </div>
                        <div class="science">
                            <h4>Atividade Científica</h4>
                        </div>
                        <div class="sociaty">
                            <h4>Sociedades Científicas</h4>
                        </div>
                        <ul class="text-activity open">
                            <li>Desde 2008 - Assistente Graduada de Endocrinologia.</li>
                            <li>Desde 2006 - Colaboração na Consulta Multidisciplinar de Diabetes e Patologia da Tiroide
                                na Gravidez na Clínica Gynébe do Porto</li>
                            <li>Desde 2005 - Assistente Hospitalar de Endocrinologia no Hospital Militar do Porto, agora
                                denominado Hospital das Forças Armadas - Pólo do Porto.</li>
                            <li>2001-2005 - Assistente Hospitalar de Endocrinologia no Hospital de S. Marcos – Braga.
                            </li>
                            <li>2000 - Assistente Eventual de Endocrinologia no IPO-Porto.</li>
                            <li>Até 2000 - Internato complementar de Endocrinologia no Hospital de Sto. António.</li>
                        </ul>
                        <ul class="text-formation">
                            <li>1991 - Licenciatura em Medicina e Cirurgia pela Faculdade de Medicina da Universidade
                                do Porto</li>
                        </ul>
                        <ul class="text-science">
                            <li>Participação em diversos cursos de valorização e actualização profissional e reuniões
                                científicas nacionais e internacionais</li>
                            <li>Organização, colaboração e participação em vários congressos, jornadas e
                                workshops</li>
                        </ul>
                        <ul class="text-sociaty">
                            <li>Membro do Grupo de Estudos da Ge-TNE</li>
                            <li>Membro do grupo de estudos da Tiróide</li>
                            <li>Sócia da SPEDM – Sociedade Portuguesa de Endocrinologia, Diabetes e Metabolismo</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
            <script src="../js/headerNavbarButtons.js"></script>
            <script src="../js/cv.js"></script>
</body>

</html>