<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include("parcials/head") %>
</head>

<body>
    <!--========================================================
                          HEADER
=========================================================-->
    <%- include("parcials/header") %>
        <!--========================================================
                          CONTENT
=========================================================-->
        <section id="content" class="common">
            <div class="overlay"></div>
            <div class="wrapper1 wrapper1__inset2">
                <div class="heading1 fade-in">
                    <h2>Os nossos serviços</h2>
                </div>
                <div class="box4-wrapper2">
                    <div class="box4">
                        <h6 class="fade-in">A Clínica Gynébe é caracterizada pela qualidade do corpo clínico,
                            diferenciação
                            técnica dos
                            serviços prestados e a forte componente humana e empenho de todos os profissionais na
                            satisfação
                            e bem estar do doente.
                            A Clínica Gynébe pauta-se pelo seu dinamismo e constante inovação e actualização de
                            conhecimentos científicos, aliada à disponibilidade de tecnologia avançada, adaptada à
                            prestação
                            de cuidados de saúde personalizados e diferenciados.
                            Nesta clínica há uma estreita inter-relação com outras áreas clínicas e especialidades
                            médicas,
                            permitindo sempre que necessário, consulta multidisciplinar, com estudo e tratamento das
                            várias
                            patologias do doente, totalmente integradas.</h6>
                    </div>
                </div>
            </div>
            <div class="wrapper5">
                <div class="box5-wrapper1">
                    <div id="gyne" class="box5">
                        <img class="fade-in" src="../images/gyne.png" alt="" />
                        <h3 class="h3__inset1 fade-in">
                            Ginecologia
                        </h3>
                        <p class="fade-in">
                            O seguimento ginecológico regular desde a adolescência até a menopausa é essencial na
                            prevenção e tratamento de doenças ginecológicas e de transmissão sexual, bem como no
                            rastreio do
                            cancro ginecológico.
                            A Ginecologia engloba:
                        </p>
                        <button aria-label="Ginecologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>Planeamento Familiar/Contraceção (incluindo introdução e remoção de DIU e Implante)
                            </li>
                            <li>Sexualidade</li>
                            <li>Hemorragias Uterinas</li>
                            <li>Miomas Uterinos</li>
                            <li>Endometriose</li>
                            <li>Estudo da Infertilidade do Casal</li>
                            <li>Menopausa</li>
                            <li>Ecografia Ginecológica 3D/4D</li>
                            <li>Pequena Cirurgia</li>
                            <li>Cirurgias Ginecológicas</li>
                        </ul>
                    </div>
                    <div id="obs" class="box5">
                        <img class="fade-in" src="../images/page3_img2.png" alt="" />
                        <h3 class="h3__inset1 fade-in">
                            Obstetrícia
                        </h3>
                        <p class="fade-in">
                            A Obstetrícia faz o acompanhamento desde da pré-concepção ao pós-parto, em situações
                            normais e
                            com patologia.<br>A Obstetrícia engloba uma vasta área de cuidados, tais como:</p>
                        <button aria-label="Obstetrícia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>Aconselhamento Pré-concepcional</li>
                            <li>Vigilância de Gravidez Normal e de Risco</li>
                            <li>Ecografia obstétrica 1ºTrimestre diferenciada</li>
                            <li>Rastreio de Trissomias</li>
                            <li>Rastreio de Pré-Eclâmpsia e Parto Pré-termo</li>
                            <li>Rastreio de Restrição de Crescimento Fetal</li>
                            <li>Ecografias obstétricas 3D/4D</li>
                            <li>Cardiotocografia</li>
                            <li>Acompanhamento durante o Parto Normal, Instrumentado e Cirúrgico</li>
                        </ul>
                    </div>

                    <div id="ped" class="box5">
                        </li>
                        <img class="fade-in" src="../images/pediatrics.jpg" alt="" />
                        <h3 class="h3__inset2 fade-in">
                            Pediatria
                            <!-- https://unsplash.com/photos/JcrysJBO8kQ -->
                        </h3>
                        <p class="fade-in">
                            A pediatria acompanha o recém-nascido desde o parto até ao início da vida adulta. O
                            seguimento
                            regular em Pediatria tem como objetivo o crescimento saudável e promoção do bem-estar
                            físico e
                            psíquico das crianças e adolescentes, actuando com carácter preventivo e curativo.
                            A consulta de Pediatria engloba uma vasta área, tal como:
                        </p>
                        <button aria-label="Pediatria"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>Crescimento e desenvolvimento saudável e adequado</li>
                            <li>Aconselhamento sobre alimentação</li>
                            <li>Aconselhamento sobre vacinação</li>
                            <li>Diagnóstico e decisão terapêutica das situações com patologia</li>
                            <li>Identificação de casos com necessidade de intervenção multidisciplinar com outras
                                áreas
                                clínicas</li>
                        </ul>
                    </div>

                    <div id="endo" class="box5">
                        <img class="fade-in" src="../images/endo.jpg" alt="" />
                        <h3 class="h3__inset3 fade-in">
                            Endocrinologia
                            <!-- https://unsplash.com/photos/Nqj2XWHy4K0 -->
                        </h3>
                        <p class="fade-in">A endocrinologia é a especialidade médica que se dedica ao diagnóstico e
                            tratamento das perturbações do sistema endócrino, composto pelas glândulas produtoras de
                            hormonas responsáveis pelo desenvolvimento, reprodução e metabolismo normais.</p>
                        <p class="fade-in">A tiróide, o pâncreas, a hipófise, as suprarrenais, as paratiróides, os
                            ovários e
                            os testículos, são as glândulas endócrinas mais conhecidas, no entanto o osso e o tecido
                            adiposo
                            têm também um papel importante na produção de hormonas.</p>
                        <p class="fade-in">As situações que mais levam o paciente a consulta são:</p>
                        <button aria-label="Endocrinologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>Diabetes</li>
                            <li>Obesidade</li>
                            <li>Doença metabólica</li>
                            <li>Patologia da tiróide (hipertiroidismo, hipotiroidismo, nódulos, cancro)</li>
                            <li>Distúrbios do crescimento e da puberdade</li>
                            <li>Hirsutismo (pelo em excesso)</li>
                            <li>Infertilidade</li>
                        </ul>
                    </div>
                    <div id="psy" class="box5">
                        <img class="fade-in" src="../images/psychologist.jpg" alt="" />
                        <h3 class="h3__inset1 fade-in">
                            Psicologia

                        </h3>
                        <p class="fade-in">
                            Nesta consulta, destacam-se:<br>
                            A Avaliação psicológica<br>
                            A Intervenção Psicoterapêutica de crianças, jovens e adultos em situações de:
                        </p>
                        <button aria-label="Psicologia"><i class="fas fa-chevron-down"></i></button>
                        <ul class="list1__inset1">
                            <li>Ansiedade/ou Depressão</li>
                            <li>Distúrbios do Sono</li>
                            <li>Problemas de Aprendizagem</li>
                            <li>Dificuldade no Ensino Superior</li>
                            <li>Problemas Laborais</li>
                            <li>Problemas Conjugais</li>
                            <li>Depressão Pós-Parto</li>
                            <li>Problemas de Infertilidade</li>
                            <li>Dificuldades Parentais</li>
                            <li>Separação e Divórcio</li>
                        </ul>
                    </div>
                    <div id="nut" class="box5">
                        </li>
                        <img class="fade-in" src="../images/nutrition.jpg" alt="" />
                        <h3 class="h3__inset2 fade-in">
                            Nutrição
                            <!-- https://unsplash.com/photos/QZub8Ni3x_c -->
                        </h3>
                        <p class="fade-in">
                            Na consulta de nutrição efectua-se a avaliação das necessidades nutricionais e o
                            planeamento
                            alimentar personalizado a cada situação e objectivo específico.</p>
                        <p class="fade-in">Aprender a ter hábitos alimentares saudáveis, além da perda de peso, visa
                            uma
                            melhoria da
                            qualidade de vida física e emocional, bem como das mais diversas patologias.</p>
                        <p class="fade-in">Os nutricionistas trabalham em estreita relação com os outros
                            profissionais de
                            saúde e em especial com a endocrinologia.</p>
                        <!-- <button><i class="fas fa-chevron-down"></i></button>
                <ul class="list1__inset1">
                    <li>
                        <a href="#">Well women screening</a>
                    </li>
                    <li>
                        <a href="#">Ultrasound scanning including transvaginal scan</a>
                    </li>
                    <li>
                        <a href="#">IUCD insertion/removal</a>
                    </li>
                    <li>
                        <a href="#">Implanon insertion/removal</a>
                    </li>
                    <li>
                        <a href="#">Family planning advice</a>
                    </li>
                    <li>
                        <a href="#">Gynaecological surgery</a>
                    </li>
                    <li>
                        <a href="#">Advice on Menopause</a>
                    </li>
                </ul> -->
                    </div>
                    <!-- <div id="fisio" class="box5">
                <img class="fade-in" src="../images/fisio.png" alt="" />
                <h3 class="h3__inset1 fade-in">
                    Fisioterapia
                    https://unsplash.com/photos/a9pFSC8dTlo
                </h3>
                <p class="fade-in">
                    dolor
                    sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip.</p>
                <button><i class="fas fa-chevron-down"></i></button>
                <ul class="list1__inset1">
                    <li>
                        <a href="#">Prepregnancy counseling</a>
                    </li>
                    <li>
                        <a href="#">Confirmation of pregnancy</a>
                    </li>
                    <li>
                        <a href="#">Antenatal check-up</a>
                    </li>
                </ul>
            </div> -->
                </div>
            </div>
        </section>

        <!--========================================================
                          FOOTER
=========================================================-->
        <%- include("parcials/footer") %>
            <script src="../js/app.js"></script>
            <script src="../js/intersectionObservers.js"></script>
            <script src="../js/headerNavbar.js"></script>
</body>

</html>