<header id="dashHeader">
    <div id="dashLogo">
        <h1 class="fadeInDown">
            <a href="index">
                <span class="second">
                    <%= header.logo.second %>
                </span>
                <span class="first">
                    <%= header.logo.first %>
                </span>
            </a>
        </h1>
    </div>
    <div class="dashTitle">
        <h1 class="fadeInDown">
            <a href="dashboard">
                <span class="second">
                    My
                </span>
                <span class="first">
                    Gynébe
                </span>
            </a>
        </h1>
    </div>
    <div class="dashLang">
        <p>PT</p>
        <ul class="dashLanguageList">
            <li><a class="PT" href=""><img src="../images/portugal.png" alt="Flag of Portugal">
                    PT
                </a></li>
            <li><a class="ES" href=""><img src="../images/spain.png" alt="Flag of Spain">
                    ES
                </a>
            </li>
            <li><a class="EN" href=""><img src="../images/uk.png" alt="Flag of UK">
                    EN
                </a></li>
        </ul>
    </div>
</header>