<nav class="dashNav">
    <div class="userInformation">
        <div class="userImg">
            <img src="../images/logo.png" alt="">
        </div>
        <div class="username">
            <h1>Francisco Araújo</h1>
        </div>
    </div>
    <div class="apointmentButton">
        <p>Marcar Consulta</p>
    </div>
    <div class="dashDivider"></div>
    <div class="dashboardMenu">
        <p><i class="fa-solid fa-house"></i>Início</p>
        <p><i class="fa-solid fa-id-card-clip"></i>Minha Saúde</p>
        <p><i class="fa-solid fa-book"></i>Agenda</p>
        <p><i class="fa-solid fa-clock-rotate-left"></i>Histórico</p>
        <p><i class="fa-solid fa-receipt"></i>Faturas e pagamentos</p>
        <p><i class="fa-solid fa-user-doctor"></i>Especialidades</p>
        <p><i class="fa-solid fa-circle-user"></i>Gestão de conta</p>
        <p><i class="fa-solid fa-circle-question"></i>Apoio ao cliente</p>
    </div>

</nav>